<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>METEOR UPNA</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">METEOR</a>
        </div>

		<div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="index.php">Inicio</a></li>
            <li class="active"><a href="index.php?action=info">Información</a></li>
          </ul>
		
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
			
        <h1>Información</h1>
		<img style="float: left;" src="images/me.jpg" alt="myself" class="img-circle" height="140" width="140">
        <p> El proyecto consiste en la detección de meteoritos por radio. Los meteoroides al impactar en las altas capas de la atmosfera hace que aumente su temperatura hasta los 2000 K, donde compienza a darse la sublimación (paso de estado solido a gas sin pasar por el liquido). El rastro de electrones que deja el cuerpo tiene una capacidad reflectora muy importante. Es lo que se utiliza en este proyecto para captar las ondas de radio que se reflejan sobre esa estela.  
         </p>
		<p><a href="https://www.tlm.unavarra.es/mod/data/view.php?d=2&rid=105">Proyecto</a></<p>
		</div>
		<p></p>
		<div class="container">
		<img style="float: left;" src="images/logo-upna.png" alt="logo-upna" class="img-circle" height="140" width="140">
		<p>Estudiante de Ingeniería en Tecnologías de la Telecomunicación de la Universidad Publica de Navarra.<br />
		<p><a href="http://www.unavarra.es">UPNA</a></<p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">



      </div>

      <hr>

      <footer>
        <p> Upna Meteor 2015 -  Jaime Viscarret</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  

</body>
</html>